<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="final.Properties.Settings.DBcafeeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\USER\OneDrive\Desktop\lastfinal_shahdtuffaha\final_shahdtuffaha\final_shahd\final\final\DBcafee.mdb"
            providerName="System.Data.OleDb" />
        <add name="final.Properties.Settings.DBcafeeConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\USER\OneDrive\Desktop\lastfinal_shahdtuffaha\final_shahdtuffaha\final_shahd\final\final\DBcafee.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>